<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Raven</title>
</head>
<body>
    <div id="app">
        <model-collada src="/static/3dmodel/Raven.dae"></model-collada>
    </div>
    <script src="/static/javascripts/vue.js"></script>
    <script src="/static/javascripts/vue-3d-model.min.js"></script>
    <script>
        new Vue({
            el: '#app'
        })
    </script>
</body>