<!DOCTYPE html>
<html lang="en">

<head>
	<title>RanNet</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
 
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- /font files -->
	<!-- css files -->
	<link href="/static/css/erropage.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />

	<!-- /css files -->

	<body>

		<div class="container-w3layouts  text-center">
			<div class="agileits-logo">
				<h1>
					<a href="/">
						<span class="fa fa-spinner" aria-hidden="true"></span>RanNet</a>
				</h1>
			</div>
			<h2 class="txt-wthree"><%= title %></h2>
			<p><%= msg1 %>
				<br> <%= msg2 %></p>
			<div class="home">
				<a href="/">home</a>
			</div>
		</div>		 
	</body>

</html>