<!DOCTYPE html>
<html lang="en">

<head>
	<title>Ran-Net</title>
	<% include ../Fixed/DefaultHead.ejs %>
</head>

<body>

	<% include ../Fixed/NavBar.ejs %>

	<div class="container">
		<br>
		<br>
		<br>
		<br>
		<div class="jumbotron">
			<h1 id="tes" class="text-center">Bem vindo!</h1>
			<p class="text-center">RanNet API online de tools com Node Js e MongoDB.</p>
			<!-- <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a></p> -->
		</div>

		<script>
			console.log(navigator.userAgent);
		</script>


	</div>
</body>

</html>