<!DOCTYPE html>
<html>

<head>

    <% include ../Fixed/DefaultHead.ejs %>
    <title>Ran-Net</title>

</head>

<body>

    <% include ../Fixed/NavBar.ejs %>

    <div class="container">
        <br>
        <br>
        <br>
        <br>

        <div class="jumbotron">
            <h2 class="text-center">Upload de arquivo</h2>
            <p class="text-center">Realizar upload de arquivo para o servidor.</p>
            <p class="text-center"><a class="btn btn-primary btn-lg" href="#">Selecionar arquivo</a></p>
            <br><br>
            <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
        </div>

        <input id="upload-input" style="display:none" type="file" name="uploads[]" multiple="multiple"><br>

        <script src="/static/js/jquery-2.2.4.min.js"></script>
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
        <script src="/static/js/upload.js"></script>

        <% include ../Fixed/scripts.ejs %>
        <% include ../Fixed/bot.ejs %>
    </div>


</body>

</html>