<!DOCTYPE html>
<html>

<head>

    <% include ../Fixed/DefaultHead.ejs %>
    <title>Ran-Net</title>

</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="/home">RanNet</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/uploads">Uploads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/downloads">Downloads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chat">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ocr">OCR</a>
                    </li>
                </ul>

                <ul class="navbar-nav ">
                    <!-- PROFILE DROPDOWN - scrolling off the page to the right -->
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navDropDownLink">
                            <a class="dropdown-item" href="/preferences">Preferences</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>

    </nav>
    <div class="container">
        <br>
        <br>
        <br>
        <br>


        <div class="jumbotron">
            <h2 class="text-center">Upload de arquivo</h2>
            <p class="text-center">Realizar upload de arquivo para o servidor.</p>
            <p class="text-center"><a class="btn btn-primary btn-lg" href="#">Selecionar arquivo</a></p>
            <br><br>
            <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
        </div>

        <input id="upload-input" style="display:none" type="file" name="uploads[]" multiple="multiple"><br>

        <script src="/static/js/jquery-2.2.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="/static/javascripts/upload.js"></script>
    </div>


</body>

</html>