<!DOCTYPE html>
<html>

<head>
    <title>RanNet</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Norm Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="/static/mask/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/static/mask/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="/static/mask/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i"
        rel="stylesheet">
    <!-- //Fonts -->
</head>

<body>
    <!-- mian-content -->
    <div class="main-content" id="home">
        <!-- header -->
        <header class="header">
            <div class="container">
                <!-- nav -->
                <nav class="py-2">
                    <div id="logo">
                        <h1> <a class="navbar-brand" href="/">RanNet</a>
                        </h1>
                    </div>

                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu">
                        <li class="active"><a href="/">Home</a></li>
                        <!-- <li><a href="about.html">About</a></li> -->
                        <!-- <li>
                            <label for="drop-2" class="toggle">Layouts <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                            <a href="#">Layouts <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2" />
                            <ul>
                                <li><a href="layout1.html">Left Side bar</a>
                                </li>
                                <li><a href="layout2.html">Right Side bar</a>
                                </li>
                                <li><a href="layout3.html">No Side bar</a>
                                </li>
                            </ul>
                        </li> -->
                        <li><a href="#contact">Contato</a>


                        <li class="header-right">
                            <ul class="list-unstyled team-icons mt-4">
                                <li>
                                    <a href="#" class="t-icon">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="t-icon">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>


                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- //nav -->
            </div>
        </header>
        <!-- //header -->
        <div class="banner-w3pvt-info ">
            <div class="overlay-w3ls">
                <div class="banner-content text-center">
                    <h3>Bem vindos ao site portfólio da RanNet</h3>
                    <a href="#service" class="btn">Veja mais</a>
                </div>
            </div>
        </div>
    </div>

    <!-- //banner -->
    <!-- banner-bottom -->
    <section class="about py-5" id="about">
        <div class="container py-md-5">
            <div class="row about-w3pvt-top mt-2">
                <div class="col-lg-6 about-info">
                    <h4 class="title-w3ls mb-5">Desenvolvimento de soluções de software e automação.</h4>
                    <p>Trabalhamos com desenvolvimento de softwares e serviços de consultoria e monitoria.</p>
                    <p>Veja abaixo alguns softwares de portfólio.</p>
                </div>
                <div class="col-lg-6 about-img">
                    <img src="/static/mask/images/Image-01-01.png" class="img-fluid" alt="">
                </div>

            </div>
        </div>
    </section>
    <!-- //banner-bottom-->
    <!-- services -->
    <section class="services py-5" id="service">
        <div class="container py-md-5">
            <div class="row service_lavitop mt-2">
                <div class="col-lg-4 ser-img mt-3">
                    <img src="/static/mask/images/lugarfy.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 ser-lt pl-lg-5">
                    <h4 class="title-w3ls mb-5" style="color: #b1b4b9;">App de música desenvolvido para portfólio.</h4>
                    <div class="row ser-sec-1 mt-1">
                        <div class="col-lg-6 ser-w3ls-gd p-lg-0">
                            <div class="d-flex services-box one">
                                <div class="icon">
                                    <span class="fa fa-lightbulb-o"></span>
                                </div>
                                <!-- .Icon ends here -->
                                <div class="service-content">
                                    <h5>Configurável</h5>
                                    <p class="serp">
                                        Todas as músicas são pré cadastradas no servidor.
                                    </p>
                                </div>
                                <!-- .Service-content ends here -->
                            </div>
                            <!-- .Services-box ends here -->
                        </div>
                        <div class="col-lg-6 ser-w3ls-gd p-lg-0">
                            <div class="d-flex services-box two">
                                <div class="icon">
                                    <span class="fa fa-laptop"></span>
                                </div>
                                <!-- .Icon ends here -->
                                <div class="service-content">
                                    <h5>BackEnd escalonável</h5>
                                    <p class="serp">
                                        Servidor com balanceamento de carga.
                                    </p>
                                </div>
                                <!-- .Service-content ends here -->
                            </div>
                            <!-- .Services-box ends here -->
                        </div>
                    </div>
                    <div class="row ser-sec-2">
                        <div class="col-lg-6 ser-w3ls-gd p-lg-0">
                            <div class="d-flex services-box three">
                                <div class="icon">
                                    <span class="fa fa-diamond"></span>
                                </div>
                                <!-- .Icon ends here -->
                                <div class="service-content">
                                    <h5>Inteligente</h5>
                                    <p class="serp">
                                        sugestão de música de acordo com o gosto do usuário.
                                    </p>
                                </div>
                                <!-- .Service-content ends here -->
                            </div>
                            <!-- .Services-box ends here -->
                        </div>
                        <div class="col-lg-6 ser-w3ls-gd p-lg-0">
                            <div class="d-flex services-box four">
                                <div class="icon">
                                    <span class="fa fa-shield"></span>
                                </div>
                                <!-- .Icon ends here -->
                                <div class="service-content">
                                    <h5>Seguro</h5>
                                    <p class="serp">
                                        App seguro e bem optimizado.
                                    </p>
                                </div>
                                <!-- .Service-content ends here -->
                            </div>
                            <!-- .Services-box ends here -->
                        </div>
                    </div>

                </div>

            </div>
            <!-- .Row ends here -->
            <!-- .Container ends here -->
        </div>
        <!-- .Services ends here -->
    </section>
    <!-- //services -->
    <!--/tabs-->
    <section class="middile-sec py-5" id="tabs">
        <div class="container py-md-5">
            <div class="middile-inner-con">
                <div class="tab-main mx-auto">

                    <input id="tab1" type="radio" name="tabs" checked>
                    <label for="tab1">ChatbotJS</label>

                    <input id="tab2" type="radio" name="tabs">
                    <label for="tab2">ContadorV</label>

                    <input id="tab3" type="radio" name="tabs">
                    <label for="tab3">Busu</label>

                    <section id="content1">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="/static/mask/images/chatBot.PNG" class="img-fluid" alt="mobile-image">
                            </div>
                            <div class="col-lg-6  p-3">
                                <p>ChatbotJS é um atendente virtual construído com Inteligência Artificial, totalmente
                                    treinado e adaptável.</p>
                            </div>
                        </div>
                    </section>

                    <section id="content2">
                        <div class="row">
                            <div class="col-lg-6  p-3">
                                <p>Contador Virtual é um sistema voltado para gerenciamento de gastos e controle de
                                    serviços.</p>
                            </div>
                            <div class="col-lg-6">
                                <img src="/static/mask/images/contadorJs.PNG" class="img-fluid" alt="mobile-image">
                            </div>

                        </div>
                    </section>

                    <section id="content3">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="/static/mask/images/busu.png" class="img-fluid" alt="mobile-image">
                            </div>
                            <div class="col-lg-6 p-3">
                                <p>Busu um aplicativo que mostra localização de ônibus e suas rotas em tempo real, o
                                    aplicativo támbem conta com preço de pessagem, localização das paradas dos ônibus e
                                    tarifa dos mesmo.</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <!--/tabs-->



    <!--/buttons -->
    <!-- <section class="banner-bottom py-5 ">
        <div class="container py-md-5">
            <h3 class="title-w3ls mb-5 text-center">Lorem ipsum dolor sit magna feugiat etiam sed dolor</h3>
            <div class="d-flex mt-5 justify-content-center">
                <a href="layout1.html" class="btn button-style  mr-3">Layouts</a>
                <a href="contact.html" class="btn button-style">Contact Us</a>
            </div>
        </div>
    </section> -->
    <!--//buttons -->
    <!-- contact -->
    <section class="contact py-5" id="contact">
        <div class="container py-lg-5">
            <h3 class="title-w3ls two text-center">Informações de contato</h3>
            <div class="text-center">
                <p class="main_p4 mt-4 mb-4 pt-2 text-center mx-auto">Caso queira entrar em contato para orçamento e
                    avaliação de projeto favor preencher o formulario abaixo.</p>
            </div>
            <div class="row contact-top">
                <div class="col-lg-3 contact_grid_left">
                    <!-- <ul class="list-unstyled wthreem-items">
                        <li>
                            <div class="row">
                                <div class="col-3">
                                    <span class="fa fa-home"></span>
                                </div>
                                <div class="col-9">
                                    <h6>Address</h6>
                                    <p>The company name
                                        <br>5768 Morris Park,
                                        <br>New York City. </p>
                                </div>
                            </div>
                        </li>

                        <li class="mt-3">
                            <div class="row">
                                <div class="col-3">
                                    <span class="fa fa-envelope"></span>
                                </div>
                                <div class="col-9">
                                    <h6>Email</h6>
                                    <a href="mailto:info@example.com">mail@example.com</a>
                                </div>
                            </div>
                        </li>
                        <li class="mt-5">
                            <div class="row">
                                <div class="col-3">
                                    <span class="fa fa-phone"></span>
                                </div>
                                <div class="col-9">
                                    <h6>Phone</h6>
                                    <p>1234567890</p>
                                </div>
                            </div>
                        </li>
                    </ul> -->
                </div>
                <div class="col-lg-6 contact_grid_right">
                    <form action="#" method="post">
                        <div class="row contact_top">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="Name" placeholder="Nome" required="">
                            </div>
                            <div class="col-sm-6">
                                <input type="email" class="form-control" name="Email" placeholder="Email" required="">
                            </div>
                        </div>
                        <textarea class="form-control" name="Message" placeholder="" required=""></textarea>
                        <div class="text-center">
                            <button type="submit" class="btn submit">Submit</button>
                            <button type="reset" class="btn reset">Reset</button>
                        </div>
                        <div class="clearfix"> </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <!-- //contact -->
    <div class="copy-right">
        <div class="container">
            <div class="row">
                <p class="copy-right-grids text-md-left text-center my-sm-4 my-4 col-md-6">RanNet

                </p>
                <div class="w3pvt-footer text-md-right text-center mt-4 col-md-5">
                    <ul class="list-unstyled w3pvt-icons">
                        <li>
                            <a href="#">
                                <span class="fa fa-facebook-f"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-dribbble"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-vk"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="move-top text-right col-md-1"><a href="#home" class="move-top"> <span
                            class="fa fa-angle-up  mb-3" aria-hidden="true"></span></a></div>

            </div>
        </div>
    </div>

</body>

</html>
